html, body {
    background-color: #353131;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
}
.adjust{
    margin-top:3px !important;
}
.buttons-green{
    background-color: #168E33;
    border-radius: 30px;
    border: none;
    font-family: "Montserrat", sans-serif;
    outline: none !important;
    padding: 5px 20px;
    color: white !important;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.buttons-green:hover{
    background-color: rgba(22, 142, 51, 0.7);

    text-decoration: none;
}
.buttons-green-dark{
    background-color: #4D6052 !important;
}

.bg-black{
    background-color: black;
}

.hamburger-menu img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 8px 0 0 20px;
}
.margin-null{
    margin: 0;
}
.top-0{
    top: 0;
}
.right-0{
    right: 0;
}
.logo{
    position: absolute;
    top: 20px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 200px;
}
.logo div{
    content: "";
    display: block;
    width: 90%;
    height: 90%;
    margin: 5% 0 0 5%;
    background: url("../img/logo.png") no-repeat;
    background-size: contain;
    background-position: center;
}
.logobleu{
    position: absolute;
    top: 20px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 200px;
}
.logobleu div{
    content: "";
    display: block;
    width: 90%;
    height: 90%;
    margin: 5% 0 0 5%;
    background: url("../img/logobleu.png") no-repeat;
    background-size: contain;
    background-position: center;
}
@media only screen and (max-width: 400px) {
  .logo {

    top: 20px;
    width: 70px;
    height: 70px;

  }
}
.navigation-link{
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 15px;
    transition: all 0.4s ease;
    pointer-events: true;
}
.navigation-link:hover{
    color: #168E33 !important;
}
.navigation-link:hover::before{
    width: 25px;
    background-color: #168E33;
}
.navigation-link::before{
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    left: -15px;
    width: 20px;
    height: 1px;
    background-color: #fff;
    transition: all 0.4s ease;
}
.agenda{
    background-color: #353131 !important;
}
.agenda thead{
    background-color: #168E33;
}
.agenda td {
    background-color: #484747!important;
    margin:10px;
    border: 10px #353131 solid !important;
}
.fc-day-number.fc-other-month {
    opacity:1 !important;
    filter: alpha(opacity=30);
}
.fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td{
    background: 0 0;
    background-image: initial;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    border-color: #353131!important;
    border-bottom-color: #484747!important;

}
.fc th{
    border: 10px #353131 solid !important;
}
.fc-content{
    color:white !important;
    padding: 3px 0px 3px 5px;
}
.fc-day-grid-event{
    background-color: #168E33 !important;
    border:none !important;
}
.bg-grey{
    background-color: rgb(136, 136, 136) !important;
    border: none;
    outline: none;
    color:white;
}
.bg-grey::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
.cursor{
    cursor: pointer;
}
.pt-6{
    margin-top: 120px;
}

.nav_welcome_action p{
    border-bottom: 1px solid grey;
    cursor: pointer;
}
.nav_welcome_action p:hover, .nav_welcome_action .welcome_active{
    border-bottom: 1px solid white;
    color: white;
}
/*chants*/
.nav_welcome_action .chants_titre{
    border-bottom: 1px solid white;
    cursor:default;
}
.nav_welcome_action .c_titre{
    color:grey;
}
.nav_welcome_action .chosen{
    color:#168E33;
    border-bottom: 1px solid #168E33;
}
.nav_welcome_action .chants{
    padding-bottom: 18px ;
}
.nav_welcome_action .chosen:hover{
    color:#168E33;
    border-bottom: 1px solid #168E33;
    cursor:default;
}
/*approve_bleus*/
.approve{
    background-color: #484747;
    width:100%;
}
.approve > h4{
    background-color: #484747;
}
.approve_title{
    color:white;
}
.approve_user{
    color:white;
}
.form-content{
    background-color:#484747 !important;
    width: 100%;
    border: none;
    border-radius: 0%;
    color: white;
}
.form-control:focus{
    color:white;
}
.green-link{
    color: #38BA58;
    transition: all 0.4s ease-in-out;

}
.green-link:hover{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.div-center{

    margin: 0 auto;
    width: 100%;

}
.div-centercalender{
    margin: 0 auto;
    width:calc(100% - 30px);
}
.textarea{
    position:relative;
  }
@media(max-width:576px){
    .img-big{
        max-width:250px;
        ;
    }
    .img-small{
        min-width:40px;
    }
    .neg-margin{
        margin-left:-50.22px;
    }
    .mb-xs-only{
        margin-bottom: 15px;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .container{
        max-width: 650px;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .container{
        max-width: 850px;
    }

 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
     .container{
    max-width: 1000px;
    }
 }
.form-control::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: rgba(255, 255, 255, 0.5); }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: rgba(255, 255, 255, 0.5); }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }  /* Microsoft Edge */


/* Agenda */
.agenda-css{
    position: absolute;
    top: 120px;
    left: 15%;
    width: 70%;
}
@media (max-width: 800px) {
    .agenda-css{
        left: 120px;
        width: 560px;
    }

}
@media(max-width:1000px){
    .fc-day-grid-event{
        margin-top:-10px!important;
    }
}


/* CSS class pour les bleus */

.buttons-blue{
    background-color: #244395;
    border-radius: 30px;
    border: none;
    font-family: "Montserrat", sans-serif;
    outline: none !important;
    padding: 5px 20px;
    color: white !important;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.buttons-blue:hover{
    background-color: #5583FF;

    text-decoration: none;
}
.buttons-blue-dark{
    background-color: rgb(11, 124, 145) !important;
}

.navigation-link-blue{
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 15px;
    transition: all 0.4s ease;
    pointer-events: true;
}
.navigation-link-blue:hover{
    color: #5583FF !important;
}
.navigation-link-blue:hover::before{
    width: 25px;
    background-color: #5583FF;
}
.navigation-link-blue::before{
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    left: -15px;
    width: 20px;
    height: 1px;
    background-color: #fff;
    transition: all 0.4s ease;
}
.nav_welcome_action_blue p{
    border-bottom: 1px solid grey;
    cursor: pointer;
}
.nav_welcome_action_blue p:hover, .nav_welcome_action_blue .welcome_active{
    border-bottom: 1px solid white;
    color: white;
}
/*chants*/
.nav_welcome_action_blue .chants_titre{
    border-bottom: 1px solid white;
    cursor:default;
}
.nav_welcome_action_blue .c_titre{
    color:grey;
}
.nav_welcome_action_blue .chosen{
    color: #5583FF;
    border-bottom: 1px solid #5583FF;
}
.nav_welcome_action_blue .chants{
    padding-bottom: 18px ;
}
.nav_welcome_action_blue .chosen:hover{
    color: #5583FF;
    border-bottom: 1px solid #5583FF;
    cursor:default;
}
.blue-link{
    color: #5583FF;
    transition: all 0.4s ease-in-out;

}
.blue-link:hover{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.select2-results__option{
    color: black !important;
}

.select2-selection__choice{
    color: black !important;
}


/*.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}
.top{
    position: fixed;
    height: 50px;
    width: 100%;
   background-color: #ffffff;
   text-align: center;
   color: #ffffff;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    background-color: #696969;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}*/
