html, body {
    background-color: #353131; 
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
}
.buttons-green{
    background-color: #168E33;
    border-radius: 30px;
    border: none;
    font-family: "Montserrat";
    outline: none !important;
    padding: 5px 20px;
    color: white;
    cursor: pointer;
    
}
.buttons-green:hover{
    color:white;
    text-decoration: none;
}
.bg-black{
    background-color: black;
}
.hamburger-menu img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 8px 0 0 20px;
}
.margin-null{
    margin: 0;
}
.top-0{
    top: 0;
}
.right-0{
    right: 0;
}
.logo{
    position: absolute;
    top: 20px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 200px; 
}
.logo div{
    content: "";
    display: block;
    width: 90%;
    height: 90%;
    margin: 5% 0 0 5%;
    background: url("../img/logo.png") no-repeat;
    background-size: contain;
    background-position: center;
}
@media only screen and (max-width: 400px) {
  .logo {
    
    top: 20px;
    width: 70px;
    height: 70px;
  
  }
}
.navigation-link{
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 15px;
    transition: all 0.4s ease;
    pointer-events: true;
}
.navigation-link:hover{
    color: #168E33 !important;
}
.navigation-link:hover::before{
    width: 25px;
    background-color: #168E33;
}
.navigation-link::before{
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    left: -15px;
    width: 20px;
    height: 1px;
    background-color: #fff;
    transition: all 0.4s ease;
}

.cursor{
    cursor: pointer;
}
.pt-6{
    margin-top: 120px;
}

.nav_welcome_action p{
    border-bottom: 1px solid grey;
    cursor: pointer;
}
.nav_welcome_action p:hover, .nav_welcome_action .welcome_active{
    border-bottom: 1px solid white;
}
.form-content{
    background-color: grey;
    width: 100%;
    border: none;
    color: white !important;
    border-radius: 0%;
}
.box-none{
    box-sizing: none !important;
}


/*.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}
.top{
    position: fixed;
    height: 50px;
    width: 100%;
   background-color: #ffffff;
   text-align: center;
   color: #ffffff;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    background-color: #696969;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}*/